<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova.plugins.mediasizecut"
    version="0.0.2">

  <name>mediasizecut</name>
	<author>Neologix Software Solutions</author>

	<description>
		A plugin to stop media recording based on the size specified.
	</description>

	<js-module src="www/mediaSizeLive.js" name="mediaSizeLive">
        <clobbers target="mediaSizeLive" />
	</js-module>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="mediasizecut" >
				<param name="android-package" value="cordova.plugins.mediasizecut"/>
			</feature>
		</config-file>
		<source-file src="src/android/captureTest.java" target-dir="plugins/test" />
	</platform>
</plugin>