<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.mediasizecut"
    version="0.0.17">

  <name>MediaSizeCut</name>
	<author>Neologix Software Solutions</author>

	<description>
		A plugin to stop media recording based on the size specified.
	</description>

	<js-module src="www/mediaSizeLive.js" name="mediaSizeLive">
        <clobbers target="mediaSizeLive" />
	</js-module>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<!-- android -->
	<platform name="android">
		<source-file src="src/android/MediaSizeCut.java" target-dir="src/com/plugin/" />
		<config-file target="res/xml/config.xml" parent="/*">
            <feature name="MediaSizeCut">
                <param name="android-package" value="com.phonegap.plugins.mediasizecut.MediaSizeCut"/>
            </feature>
        </config-file>
	</platform>
</plugin>